.weather-shown {
    display: grid; 

   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   
   gap: 0px;
   height: 100%;
}

.city-name {
    grid-row-start: 1;
    grid-column-start: 1;
 
    grid-row-end: 1;
    grid-column-end: 1;
}

.description {
    grid-row-start: 2;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 2;
}

.degrees {
    grid-row-start: 3;
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
}

.weather-icon {
    grid-row-start: 1;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 3;

   display: flex;
}
